<div class="item noticia" *ngIf="post">
  <div class="txt row">
    <div class="col-md-12 category-pd">
      <app-category-tag [post]="post"></app-category-tag>
    </div>
    <div class="col equal_items">
      <div class="title">
        <h4 [routerLink]="['/post',post?.category,post?.uid]" style="cursor:pointer;">{{post.title}}</h4>
        <div class="resume-cont flex-pd fs">
          <div class="avatar">
            <img [src]="post?.user?.photoURL" alt="post.user?.displayName">
          </div>
          <div class="detalles">
            <p>
              <a [routerLink]="['/editor',post?.user?.uid,'posts']">{{post?.user?.displayName}}</a> ·
              {{post.createdAt | toDate | amLocale: 'es' | amTimeAgo}}
            </p>
            <p>{{post.content | toString | toReadTime}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col equal_items des-col">
      <div class="text" [routerLink]="['/post',post.category,post?.uid]" style="cursor:pointer;">
        <p>{{post.description}}</p>
      </div>
    </div>
  </div>

  <div class="imagen-pd">
    <app-bookmark [postId]="post?.uid"></app-bookmark>
    <div class="imagen" [routerLink]="['/post',post.category,post?.uid]" style="cursor:pointer;">
      <img [src]="post.thumbnails['500']" *ngIf="post.thumbnails" alt="post.title">
      <img [src]="post.image" *ngIf="!post.thumbnails" alt="post.title">
    </div>
  </div>
</div>