<!--SLIDER -->
<div class="general_slider-pd edit" [ngClass]="{move_edit: edit_image}">
  <div class="img_inside-slider edit">
    <img [(src)]="data.image?data.image:imageURL?imageURL:portada">
  </div>
  <!--Imagen de Fondo Slider-->
  <div class="container content-slider">
    <div class="row">
      <!--Artículo Principal-->
      <div class="col-md-10 articulo-slider">
        <!--Detalles-->
        <div class="edit flex-pd fs" data-aos="fade-right" data-aos-duration="900" data-aos-once="true">
          <div class="first-button">
            <button (click)="changeImage()" style="cursor: pointer;">Editar Portada</button>
          </div>
        </div>
      </div>
      <div class="col-md">
      </div>
    </div>
  </div>
</div>
<!--IMAGEN EDITOR-->
<div class="edit_img" *ngIf="edit_image">
  <div class="subtitle">
    <p>Escoge la imagen que deseas como portada</p>
    <img (click)="close()" src="/assets/svg/exit_icon-blue.svg" alt="Cerrar">
  </div>
  <div class="img">
    <img-cropper #cropper [image]="data" [settings]="cropperSettings" class="crop"></img-cropper>
  </div>
  <div class="botones">
    <div class="buttons">
      <button (click)="editImage()" style="cursor: pointer;" class="alternate">Cargar imagen</button>
      <input id="custom-input" type="file" (change)="fileChangeListener($event)" style="display: none">
      <button (click)="uploadImage()" style="cursor: pointer;">Hecho</button>
    </div>
  </div>
</div>