<div class="content">

  <!-- SER CONTRIBUIDOR -->
  <div class="container" id="be_contributor">
    <div class="row">

      <div class="col-md-5">
        <div class="first-title titles">
          <h2 data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="300" data-aos-once="true">Ser Contribuidor en</h2>
          <h1 data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="400" data-aos-once="true">Piensa Digital</h1>
        </div>
        <div class="txt">
          <p data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="500" data-aos-once="true">
              En Piensa Digital somos positivos y optimistas frente al futuro. Por eso buscamos animar a todos los actores y protagonistas de la nueva economía a compartir conocimiento a través de nuestra plataforma que nos ayude a crear un contexto favorable que permita cerrar la brecha digital y acercarnos a las posibilidades que brinda la inminente cuarta revolución industrial.
          </p>
          <p class="light_blue" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-once="true">
            Buscamos contenido que pueda enganchar a una basta comunidad en Hispanoamérica que Piensa Digital y constantemente busca información para crecer y poder transformar su entorno.
          </p>
          <p data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="700" data-aos-once="true">
              Apreciamos propuestas en categorías relacionadas con la nueva economía digital: si eres una autoridad en Blockchain; tal vez el CEO de una startup de Coworking o un emprendedor exitoso en el campo del eCommerce; un académico con intereses en el eLearning o quizá un funcionario convirtiendo su ciudad en una Smart City. 
              Incluso si eres un entusiasta digital y tienes algo valioso que contar, puedes convertirte en contribuidor.
          </p>
        </div>
      </div>

      <div class="col"></div>

      <div class="col-md-6">
        <div class="img-one img-g" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="400" data-aos-once="true">
          <img src="/assets/img/utils/contribuidora.png" alt="Contribuidora feliz" class="img-pd">
        </div>
      </div>

    </div>
  </div>

  <!-- ACERCA DE -->
  <div class="container" id="about_contributor">
    <div class="row">

      <div class="col-md-12">
        <div class="title flex-pd">
          <h3 data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="400" data-aos-once="true">Sobre ser Contribuidor</h3>
        </div>
      </div>

      <div class="col-md-6">
        <div class="item_about">
          <img src="/assets/img/utils/hablamos-icono.svg" alt="Icono Hablamos" class="icon_about"
          data-aos="fade" data-aos-easing="ease-in" data-aos-duration="500" data-aos-once="true">
          <h6 data-aos="fade" data-aos-easing="ease-in" data-aos-duration="600" data-aos-once="true">¿De qué hablamos en Piensa Digital?</h6>
          <p data-aos="fade" data-aos-easing="ease-in" data-aos-duration="700" data-aos-once="true">
            En Piensa Digital tenemos altos estándares en diseño e información así que apostamos por contenido de alta calidad sobre cultura y economía digital en cualquiera de las siguientes categorías: tecnología, emprendimiento y futuro.

            Por eso buscamos crear contenido de clase mundial con líderes y referentes en sus respectivos campos, protagonistas de procesos de transformación digital y expertos en temas como IoT, inteligencia artificial, gestión del talento, ciudades inteligentes, Big Data, marketing o economía naranja, entre otros.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="item_about">
          <img src="/assets/img/utils/dirigimos-icono.svg" alt="Icono Hablamos" class="icon_about"
          data-aos="fade" data-aos-easing="ease-in" data-aos-duration="800" data-aos-once="true">
          <h6 data-aos="fade" data-aos-easing="ease-in" data-aos-duration="900" data-aos-once="true">¿A quién nos dirigimos?</h6>
          <p data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1000" data-aos-once="true">
              En Piensa Digital le hablamos a los protagonistas del juego, a los que toman decisiones y a quienes ejecutan, a los que cambian el curso de las cosas y creen en poder mejorar el mundo.

              La audiencia de Piensa Digital está conformada por empresarios, emprendedores, funcionarios - docentes públicos y entusiastas digitales hiperconectados que buscan constantemente información valiosa en sus diferentes dispositivos sobre cultura y economía digital.              
          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- BENEFICIOS -->
  <div class="container" id="benefits_contributor">
    <div class="row">

      <div class="col-md-6">
        <div class="img-three img-g" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="300" data-aos-once="true">
          <img src="/assets/img/utils/contribuidor_dos.png" alt="Contribuidor feliz" class="img-pd">
        </div>
      </div>

      <div class="col"></div>

      <div class="col-md-5">
        <div class="title titles" data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="400" data-aos-once="true">
          <h3>¿Qué beneficios tendrás<br>
          como contribuidor?</h3>
        </div>
        <div class="txt">
          <ul>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="500" data-aos-once="true">Somos la plataforma donde tus ideas y experiencia son valoradas.</li>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="550" data-aos-once="true">Nosotros nos encargaremos de distribuir tus artículos o columnas a través de nuestros canales digitales, redes sociales y lista de suscriptores para darle la mayor exposición posible a toda nuestra comunidad en LATAM y España.</li>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="600" data-aos-once="true">Cada artículo publicado tendrá un módulo con tu información bajo la figura de contribuidor: una caja donde irá tu foto, una pequeña biografía y máximo tres enlaces a tus redes sociales.</li>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="650" data-aos-once="true">Tendrás un perfil propio dentro del portal con el repositorio de tu contenido y podrás ser seguido y reconocido por la audiencia.</li>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="700" data-aos-once="true">Eventualmente te brindaremos métricas relacionadas con el impacto que tenga tu contenido</li>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="750" data-aos-once="true">En los medios tradicionales, las columnas son apetecidas por políticos, docentes, gerentes o emprendedores para poder expresar sus ideas a la vez que crean reputación y marca personal. En Piensa Digital, además de contar con una plataforma que te conecta con una audiencia interesada en tu campo de interés, podrás tener una voz, ser leído y seguido por lectores en toda Hispanoamérica.</li>
            <li data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="800" data-aos-once="true">Si generas contenido por tu cuenta podrás ampliar tu audiencia y llegar a nuevos lectores apoyándote en una plataforma visualmente impactante, estructuralmente potente, interactiva, intuitiva y fácil de usar a la hora de montar y actualizar contenido.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- QUIERO SER -->
  <div class="container full-c" id="want_contributor">
    <div class="row">

      <div class="col-md-12">
        <div class="second_title titles">
          <h2 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="400" data-aos-once="true">Quiero ser Contribuidor</h2>
        </div>
      </div>

      <div class="col-md-6">
        <div class="item_want">
          <div class="number" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="500" data-aos-once="true"><p>1</p></div>
          <h6 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="900" data-aos-once="true">
            Envíanos un “pitch” o idea del tema que quieras tratar
          </h6>
          <div class="italic_text" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-once="true">
            <i>Ten en cuenta que esto no asegura que publiquemos tu artículo</i>
          </div>
          <div class="form" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="700" data-aos-once="true">
              <button class="first-button">Realizar pitch</button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="item_want">
          <div class="number" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800" data-aos-once="true"><p>2</p></div>
          <h6 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="900" data-aos-once="true">
            Si el pitch es aprobado, ¡bravo!, te pediremos que escribas el artículo completo para ser revisado por nuestro editor y finalmente publicado
          </h6>
          <div class="italic_text" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-once="true">
            <i>En ese caso, nosotros te indicaremos cómo podrás montar este y tus próximos artículos en Piensa Digital.</i>
          </div>
          <div class="txt">
            <ul>
              <li data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1050" data-aos-once="true">Solo se tendrán en cuenta artículos inéditos, que no hayan sido publicados antes.</li>
              <li data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1150" data-aos-once="true">Si escribes en tu propio blog, podríamos generar un acuerdo donde nos des permiso de publicar tu contenido (syndicated content) días después de que lo hayas publicado por tu cuenta para que tu sitio pueda recibir el tráfico de tu audiencia. De esta manera, podrás llegar a otra audiencia y ser leído por muchas otras personas (OPA) atribuyendo el origen del contenido a tu sitio web.</li>
              <li data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1200" data-aos-once="true">Asegúrate de escribir algo afín a nuestra audiencia, categorías y que enganche a los lectores.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- CTA -->
  <div class="container full-c flex-pd" id="be_now">
    <div class="row">

      <div class="col-md-12">
        <div class="content_inside">
          <h3>Piensa Digital ahora</h3>
          <button class="bwhite">Quiero ser Contribuidor</button>
        </div>
      </div>

    </div>
  </div>

</div>

