/*Título*/
.first_title {
    margin-bottom: 20px;
}


/*ScrollDown*/
.scroll {
	-webkit-animation: show .7s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	animation: show .7s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

/*Animation*/
@-webkit-keyframes show {
	0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes show {
	0% {opacity: 0;}
    100% {opacity: 1;}
}

/* showEmpty */
.content-nothing {
    width: 100%;
    height: 200px;
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0 0 20px #1b32cd20, 0 1px 0 #1b32cd10;
    -moz-box-shadow: 0 0 20px #1b32cd20,0 1px 0 #1b32cd10;
    -webkit-box-shadow: 0 0 20px #1b32cd20, 0 1px 0 #1b32cd10;
}

.content-nothing .img-inside {
  width: 100%;
  max-width: 20%;
  height: 100%;
  position: relative;
}

.content-nothing .img-inside img  {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-nothing .content-inside {
  width: 100%;
  max-width: 70%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}


@media (max-width: 490px) {
	.first_title {
		margin-bottom: 0;
	}
}